
.details-wrapper{
  margin:30px auto;
  width:600px;
  display:flex;
  flex-direction: row;
}

.details-poster{
  width: 300px;
  margin-right:8px;
}
.details-title{
  display:inline;
  font-size:1.5em;
  font-weight:bold;
}
.details-rating{
  display:inline;
  font-size:1.2em;
  font-weight:bold;
  margin-left: 12px;
  color:#08c;
}
.details-tags div{
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border-radius: 4px;
  background-color: #aaa;
}
.details-header{
  margin-top: 8px;
  font-weight: bold;
  font-size:1.2em;
}



.movie-list{
  margin: 30px auto;
  max-width:100%;
  display: flex;
  overflow-x: scroll;
}


.movie-card{
  margin:15px;
  padding:4px;
  border: 1px solid #000;
}
.movie-card-poster{
  width: 150px;
}
.movie-card-title{
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.movie-card-tag{
  border-radius: 3px;
  padding:4px;
  background-color: #f6cdd1;
  border: 1px solid #dc3545;
  color: #dc3545;
  display:inline-block;
  text-transform: capitalize;
  font-size: 0.8em;
}